.projects {
    padding: 0 2em;
    font-size: 1.2em;
    color: white;


    .fa {
        font-size: 1.5em;
    }

    ul {
        padding: 1em;
        font-size: 1.2em;
    }

    .title {
        color: coral;
        text-align: center;
        padding-top: 1.5em;
    }

    .coral {
        fill: coral;
        cursor: pointer;
    }

}

.component.projects {
    background: mistyrose;
}