contact li .duration {
    font-size: 0.7em;
    color: orange;
}

.contact a {
    color: white;
}

.contact .fas, .contact .fab {
    font-size: 2.5em;
}

.contact .fa-phone {
    color: #18b0f5;
    transform: rotate(90deg);
}

.contact .fa-envelope {
    background: #d44b3d;

}

.contact .fa-linkedin-in {
    color: #0077B5;
}

.contact .fa-twitter {
    color: #1da1f2;
}

.contact .fa-facebook-square {
    background: #44609c;
}