@import './components/navBar/navBar';
@import './components/about/about';
@import './components/canvas/canvas';
@import './components/experience/experience';
@import './components/projects/projects';
@import './components/skills/skills';
@import './components/education/education';
@import './components/contact/contact';

body {
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    color: white;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 480px) {
    body {
        font-size: 1.4em;
    }
}

section {
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 2em 0;
}

p,
h1 {
    margin: 20px 10px;
}

p i,
h1 i {
    font-size: 3em;
    font-family: serif;
    color: #04c2c9;
}

ul {
    list-style: none;
    line-height: 2em;
}

@media (min-width: 768px) {
    .left-align .component-container {
        margin-left: 10em;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component {
    background: black;
    width: 100%;
    margin: 0;
    color: white;
    min-height: 100vh;
}


.fas, .fab {
    font-size: 1.3em;
    display: inline-block;
    margin: 0.6em;
}

@media (min-width: 768px) {
    .fas, .fab {
        margin: 1em;
    }
}


.content-appear {
    opacity: 0.01;
}

.content-appear.content-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.content-enter {
    opacity: 0.01;
}

.content-enter.content-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}


.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;

    @media (min-width: 768px) {
        width: 78vw;
    }
}
.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    margin-left: 6em;

    @media (min-width: 768px) {
        margin-left: 0;
    }
}

.parallax__layer--fore {
    transform: translateZ(1px) scale(-1);
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
    transform: translateZ(-2px) scale(3);
}

.rotate-right-15 {
    transform: translate(300px, 70px) rotate(15deg);
}

.rotate-left-5 {
    transform: translate(200px, 45px) rotate(-5deg);

    @media(min-width: 991px) {
        transform: translate(0, 45px) rotate(-5deg);
    }
}

.rotate-left-15 {
    transform: translate(200px, 70px) rotate(-15deg);

    @media(min-width: 991px) {
        transform: translate(400px, 70px) rotate(-15deg);
    }
}


