@import './components/about/about';
@import './components/canvas/canvas';
@import './components/navBar/navBar';
@import './components/experience/experience';
@import './components/skills/skills';

body {
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
    color: white;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 480px) {
    body {
        font-size: 1.4em;
    }
}

section {
    position: relative;
    font-family: 'Roboto', sans-serif;
    padding: 2em 0;
}

p,
h1 {
    margin: 20px 10px;
}

p i,
h1 i {
    font-size: 3em;
    font-family: serif;
    color: #04c2c9;
}

ul {
    list-style: none;
    line-height: 2em;
}

@media (min-width: 768px) {
    .left-align .component-container {
        margin-left: 10em;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component {
    background: black;
    width: 100%;
    margin: 0;
    color: white;
    min-height: 100vh;
}


.fas, .fab {
    font-size: 1.2em;
    display: inline-block;
    margin: 0.6em;
}

@media (min-width: 768px) {
    .fas, .fab {
        margin: 1em;
    }
}


.content-appear {
    opacity: 0.01;
}

.content-appear.content-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.content-enter {
    opacity: 0.01;
}

.content-enter.content-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}


